<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Licence app</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarToggle">
            <a class="navbar-brand" href="{% url 'index' %}"><h4>Licence Tracker</h4></a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}"><h4>Admin</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'upload-licence' %}"><h4>Upload Licence</h4></a>
                </li>
            </ul>
            
        </div>
    </nav>
    <br>

    <div class="container-fluid">

        {% block content %}
        <h4 class="text-center p-5">
            The best place to track your team licences!
        </h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Software</th>
                <th scope="col">Created By</th>
                <th scope="col">Status</th>
                <th scope="col">Purchase Date</th>
                <th scope="col">REQ No.</th>
                <th scope="col">Cost</th>
                <th scope="col">Comment</th>
                <th scope="col">Available?</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                {% for licence in shelf %}
                <tr>
                    <th scope="row">{{ licence.id }}</th>
                    <td>{{ licence.licence_name }}</td>
                    <td>{{ licence.created_by }}</td>
                    <td>{{ licence.status }}</td>
                    <td>{{ licence.purchase_date }}</td>
                    <td>{{ licence.request_number }}</td>
                    <td>${{ licence.cost }}</td>
                    <td>{{ licence.comment }}</td>
                    <td>{{ licence.available_for_reallocation }}</td>
                    <td><a href="update/{{licence.id}}" class="btn btn-primary" id="{{licence.id}}">Edit</a></td>
                    <td><a href="delete/{{licence.id}}" class="btn btn-danger" id="{{licence.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>